<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px" 
fxLayoutGap.xs="0">

<div fxFlex="40" *ngIf="dish"> <!-- Dish details start -->
  <md-card> <!-- Material Design Card start -->
    <md-card-header>
       <md-card-title>
          <h3>{{ dish.name | uppercase }}</h3>
       </md-card-title>
    </md-card-header>
    <img md-card-image src="{{BaseURL + dish.image}}" alt="{{dish.name}}" />
    <md-card-content>
       <p>{{ dish.description }}</p>
    </md-card-content>
    <md-card-actions>
       <button md-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
       <button md-button (click)="goBack()">BACK</button>       
       <button md-button>LIKE</button>
       <button md-button>SHARE</button>
       <span class="flex-spacer"></span>
       <button md-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
    </md-card-actions>
  </md-card> <!-- Material Design Card end -->
</div> <!-- Dish details end -->

<div [hidden]="dish">
<md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
</div>


<div fxFlex="40"
class="container"
 fxLayout="column"
 fxLayoutGap="10px"
*ngIf="dish">

<div fxFlex fxFlexOffset="20px">
<h3>Comments</h3>
<md-list>
  <md-list-item *ngFor="let x of dish.comments">
    <p md-line>{{x.comment}}</p>
    <p md-line>{{x.rating}} Stars</p>
    <p md-line>-- {{x.author}} {{x.date | date}}</p>
  </md-list-item>
<!-- Preview -->
  <md-list-item *ngIf="commentForm.valid">
    <p md-line>{{comment}}</p>
    <p md-line>{{rating}} Stars</p>
    <p md-line>-- {{author}}</p>
  </md-list-item>
<!-- Preview -->
  </md-list>
</div>
<div fxFlex fxFlexOffset="20px" class="form-size">

      <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <p>
        <md-input-container class="full-width"
         dividerColor="{{(formErrors.author) ? 'warn' : 'primary'}}">
          <input mdInput formControlName="author" placeholder="Name" type="text" 
          [(ngModel)]="author"
          required>
          <md-hint>
            <span [hidden]="!(formErrors.author)">
              {{formErrors.author}}</span>
          </md-hint>
        </md-input-container>
      </p>
      <p>
             <md-slider mdInput formControlName="rating" min="1" max="5" step="1" value="5" thumbLabel tickInterval="1" [(ngModel)]="rating"></md-slider>
      </p>
      <p>
        <md-input-container class="full-width">
          <textarea mdInput formControlName="comment" placeholder="Your Comment" rows=5 required [(ngModel)]="comment"></textarea>
          <md-hint>
            <span [hidden]="!(formErrors.comment)">
              {{formErrors.comment}}</span>
          </md-hint>
        </md-input-container>
      </p>
      <button type="submit" md-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
    </form>
  </div>
</div>

<div [hidden]="dish">
<md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
</div>

</div>